[submodule "hw-1"]
	path = hw-1
	url = git@github.com:stat400-csu/hw-1.git
[submodule "hw-2"]
	path = hw-2
	url = git@github.com:stat400-csu/hw-2.git
[submodule "hw-3"]
	path = hw-3
	url = https://github.com/stat400-csu/hw-3.git
