[submodule "hw-1"]
	path = hw-1
	url = git@github.com:stat400-csu/hw-1.git
[submodule "hw-2"]
	path = hw-2
	url = git@github.com:stat400-csu/hw-2.git
[submodule "hw-3"]
	path = hw-3
	url = https://github.com/stat400-csu/hw-3.git
[submodule "hw-4"]
	path = hw-4
	url = https://github.com/stat400-csu/hw-4.git
[submodule "hw-5"]
	path = hw-5
	url = https://github.com/stat400-csu/hw-5.git
