[submodule "hw-1"]
	path = hw-1
	url = git@github.com:stat400-csu/hw-1.git
	branch = fall2020
[submodule "hw-2"]
	path = hw-2
	url = git@github.com:stat400-csu/hw-2.git
	branch = fall2020
[submodule "hw-3"]
	path = hw-3
	url = https://github.com/stat400-csu/hw-3.git
	branch = fall2020
[submodule "hw-4"]
	path = hw-4
	url = https://github.com/stat400-csu/hw-4.git
	branch = fall2020
[submodule "hw-5"]
	path = hw-5
	url = https://github.com/stat400-csu/hw-5.git
	branch = fall2020
[submodule "hw-6"]
	path = hw-6
	url = https://github.com/stat400-csu/hw-6.git
	branch = fall2020
[submodule "hw-7"]
	path = hw-7
	url = https://github.com/stat400-csu/hw-7.git
	branch = fall2020
[submodule "hw-8"]
	path = hw-8
	url = https://github.com/stat400-csu/hw-8.git
	branch = fall2020
[submodule "hw-9"]
	path = hw-9
	url = https://github.com/stat400-csu/hw-9.git
	branch = fall2020
[submodule "hw-10"]
	path = hw-10
	url = https://github.com/stat400-csu/hw-10.git
	branch = fall2020
[submodule "hw-11"]
	path = hw-11
	url = https://github.com/stat400-csu/hw-11.git
	branch = fall2020
